<head>
    <style>
        tr, th, td {
            border: 1px solid black;
            }
        .tab{
            height:40%;
            width:100%;
            border: 1px solid black;
            }
    </style>
</head>

<body>
<h3>Таблица с результатами</h3>
Введенное диапазон: [0, <%= @number %>]
<table class = "tab">
    <tr>
    <th>Число</th>
    <th>Квадрат числа</th>
    </tr>
    <% i = 0 %>
    <% while (i < @result_arr.size) do %>
    <tr>
        <td><%= @result_arr[i]%></td>
        <td><%= @result_arr[i]**2 %></td>
    </tr>
    <% i+= 1 %>
    <% end%>
</table>
Количество таких чисел
<p id="counter"><%= @counter %></p>
<%= link_to "Вернуться назад", home_path %>
</body>
